doctype html
head
  title editor
  meta(name='viewport', content='width=device-width, initial-scale=1')
  // <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
  link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css')
  script(src='/socket.io/socket.io.js')
  script(src='/jquery/FileSaver.js')
  script(type='text/javascript', src='https://cdnjs.cloudflare.com/ajax/libs/ace/1.4.1/ace.js')
  script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js')
  script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js')
  link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css')
#jsEditor.container-fluid(style='background-color: #121615; color: white;')
  .row(style='background-color:gray; padding-top: 20px;')
    form#code_form
      .container-fluid
        //
          <div class="navbar-header">
          <a class="navbar-brand" style="font-size:24px;color: lightblue;padding-right: 20px;padding-left: 20px;" href="#">ChatNCode</a>
          </div>
        ul.nav.navbar-nav
          li(style='font-size:24px;color: lightblue;padding-right: 20px;padding-left: 20px;')
            input#file_name.form-control(type='text', name='file_name', placeholder='File name')
            l
              li#save_file.fa.fa-save(onclick='saveFile()', style='font-size:24px;color: lightblue;padding-right: 20px;padding-left: 20px;')
                a(href='#')
                l
                  li(style='padding-right: 20px')
                    label.btn.btn-default.btn-file.fa.fa-upload
                      input#file_upload.btn.btn-success(name='file_upload', type='file', style='display: none;')
                  // <li class="fa fa-upload" style="font-size:24px;color:lightblue; padding-right: 20px;padding-left: 20px;"><a href="#"></a><l>
                  li
                    .dropdown
                      select#type.form-control.btn.btn-primary(onchange='val()', style='padding-right: 40px; ')
                        option(value='Select_Type') Select_Type
                        option(value='java') java
                        option(value='javascript') javascript
                        option(value='c++') C++
                        option(value='c') C
                        option(value='html') HTML
                    // dropdown
                  li
                    .row
                      // compile and run
                      .col-md-3
                        // <button class="btn btn-success" onclick="compile_run()"><i class="fa fa-cog"></i> & <i class="fa fa-play"></i></button>
                      .col-md-9
                        .dropdown
                          label(for='theme') Theme
                          select#theme.btn.btn-primary(onchange='setTheme()', style='padding-right: 40px; ')
                            option(value='terminal') terminal
                            option(value='xcode') xcode
                            option(value='github') github
                        // dropdown
                  li
                    .row
                      .col-md-1
                      .col-md-3
                        // <h4 style="color: lightblue;padding-left: 20px;">S_ID:</h4>
                        button.btn.btn-info.btn-sm(type='button', data-toggle='modal', data-target='#join_session') join
                        // Modal
                        #join_session.modal.fade(role='dialog')
                          .modal-dialog.modal-sm
                            .modal-content
                              .modal-header
                                button.close(type='button', data-dismiss='modal') &times;
                                h4.modal-title(style='color: black') Enter the session id :
                              // <form id="join_form">
                              .modal-body
                                input#ss_id.form-control(type='text', name='username', placeholder='Session ID', required='')
                                input.btn.btn-success(type='button', onclick='joinSession()', data-dismiss='modal', value='join now', name='join')
                              //
                                <div class="modal-footer">
                                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                </div>
                              // </form>
                              // join_form
                      .col-md-6
                        label Session_ID
                        textarea#Session_ID.form-control(readonly='', rows='1')
                      .col-md-2
                        // <button class="btn btn-success" href="" id="" style="background-color: red" onclick="logout_func()" > <i class="fa fa-power-off"></i></button>
                        a.fa.fa-power-off(style='background-color: red; padding: 5px;color: white', href='/chatncode/v1')
                        // <button class="btn btn-success" onclick="logout_func()"></button>
        ul.nav.navbar-nav.navbar-right(style='color: lightblue;margin-right: 150px;')
          h3
            i Chat &amp; Code
      .row
        #message1.col-md-9(style=' height:760px;')
    // code form end
    .col-md-2(style='background-color: grey;')
      form#chat(action='#')
        .row
          textarea#chat_area.form-control(readonly='true', rows='25')
        br
        .row
          .col-md-12
            input#mess.form-control(type='text', name='mess', placeholder='type here')
            button#chat_submit.btn(type='submit')
              i.fa.fa-send-o(style='font-size:20px;color:red')
          // <div class="col-md-3">
          // <input type="submit"  id="chat_submit"  class="btn btn-success" value="" name="chat_submit">
          // <button type="submit" class="btn" id="chat_submit"><i class="fa fa-send-o" style="font-size:20px;color:red"></i></button>
          // </div>
  // row
  //
    <div class="col-md-4">
    <input type="submit" id="submit" name="submit" value="send" class="btn btn-success">
    </div>
// row
// compile and run
//
  <script type="text/javascript">
  function logout_func() {
  window.location.replace("http://stackoverflow.com");
  //var file_name=document.getElementById("file_name").value;
  //alert(file_name);
  }
  </script>
script(type='text/javascript').
  function joinSession(){
  var ssId=document.getElementById("ss_id").value;
  document.getElementById("Session_ID").value=ssId;
  //alert(ssId);
  }
// set the editor
script(type='text/javascript').
  //var type = $('#dropdown').val();
  var d='html';
  function val(){
  d = document.getElementById("type").value;
  console.log(d);
  var editor=ace.edit("message1");
  editor.getSession().setMode('ace/mode/'+d);
  editor.setTheme('ace/theme/terminal');
  editor.getSession().setTabSize(2);
  }
  var editor=ace.edit("message1");
  editor.getSession().setMode('ace/mode/'+d);
  editor.setTheme('ace/theme/terminal');
// set the theme
script(type='text/javascript').
  function setTheme(){
  theme = document.getElementById("theme").value;
  console.log(d);
  var editor=ace.edit("message1");
  //editor.getSession().setMode('ace/mode/'+d);
  editor.setTheme('ace/theme/'+theme);
  //editor.getSession().setTabSize(2);
  }
// file upload
script.
  document.getElementById('file_upload').addEventListener('change',function(){
  var fr= new FileReader();
  fr.onload=function(){
  //alert(this.result);
  editor.setValue(""+this.result);
  }
  fr.readAsText(this.files[0]);
  });
  //    var file_upload_name="";
  //    function myFunction(){
  //   var x = document.getElementById("file_upload");
  //   var txt = "";
  //   if ('files' in x) {
  //     if (x.files.length == 0) {
  //       txt = "Select one or more files.";
  //     } else {
  //       for (var i = 0; i < x.files.length; i++) {
  //         txt += "<br><strong>" + (i+1) + ". file</strong><br>";
  //         var file = x.files[i];
  //         file_upload_name=file.name;
  //         alert(file.name);
  //         if ('name' in file) {
  //           txt += "name: " + file.name + "<br>";
  //         }
  //         if ('size' in file) {
  //           txt += "size: " + file.size + " bytes <br>";
  //         }
  //       }
  //     }
  //   }
  // }
  //  var reader=new FileReader();
  //  reader.onload = function(){
  //    alert(this.result);
  //  }
  //  reader.readAsText(file_upload_name.);
// save file
script(type='text/javascript').
  function saveFile(){
  fs= require('fs');
  var $messegeForm =$('#code_form');
  var $message = editor;
  var  $chat=editor;
  var data=editor.getValue();
  var file_name=document.getElementById("file_name").value;
  var type=document.getElementById("type").value;
  if(file_name==""){
  alert("Enter the file name!");
  }
  if(type=='java'){
  var blob=new Blob([data],{type:"Application/java"});
  saveAs(blob,file_name+".java");
  }else if(type=='javascript'){
  var blob=new Blob([data],{type:"Application/javascript"});
  saveAs(blob,file_name+".js");
  }else if(type=='html'){
  var blob=new Blob([data],{type:"text/html"});
  saveAs(blob,file_name+".html");
  }
  else if(type=='Select_Type'){
  alert('First select the file type !!');
  }
  //console.log(data);
  }
// send the code
script.
  $(function(){
  var socket =io.connect();
  var $messegeForm =$('#code_form');
  var $message = editor;
  var  $chat=editor;
  //     $messegeForm.keypress(function(e){
  //      alert("sasdaddddddddddddddddddddddddddd");
  //      e.preventDefault();
  //        console.log('submitted');
  //        socket.emit('send message',editor.getValue());
  // });
  $messegeForm.keyup(function (e){
  if(e.keyCode == 13){
  e.preventDefault();
  console.log('submitted');
  socket.emit('send message',editor.getValue());
  document.getSelection().removeAllRanges();
  //$('#message1').prop("selected", false)
  //alert('you pressed enter ^_^');
  }
  });
  // $messegeForm.submit(function(e){
  //   e.preventDefault();
  //   console.log('submitted');
  //   socket.emit('send message',editor.getValue());
  // });
  socket.on('new message',function(data){
  editor.setValue(""+data.msg);
  //$message.val(""+data.msg);
  });
  // chat message passing through the same socket
  var $chat_form =$('#chat');
  var $chat_area=$('#chat_area');
  var $mes=$("#mess").val();
  $chat_form.submit(function(e){
  console.log(e);
  //alert($("#mess").val());
  e.preventDefault();
  //console.log('message send');
  $chat_area.val(" "+$chat_area.val()+"\\n"+$mes);
  socket.emit('chat message',$("#mess").val());
  $("#mess").val("");
  });
  socket.on('new_chat_message',function(data){
  $chat_area.val(" "+$chat_area.val()+"\\n"+data.msg);
  //$message.val(""+data.msg);
  });
  });
// chat send
script.
  // $(function(){
  //  //var socket =io.connect();
  //  var $chat_form =$('#chat');
  //  var $chat_area=$('#chat_area');
  //        $chat_form.submit(function(e){
  //    var chat_message=$("#mess").val();
  //          alert(chat_message);
  //          e.preventDefault();
  //          console.log('message send');
  //        socket.emit('chat message',chat_message);
  //        });
  //        socket.on('new chat message',function(data){
  //            $chat_area.val(" "+data.chat_mes);
  //            //$message.val(""+data.msg);
  //        });
  //      });
